
header{
height: 100vh;
background-image: url(/Users/mrsokegbe/Desktop/CodersGuild/WendyCodes/wendy-codes-logo-zip-file/png/eduardo-drapier-nJ1c4PhQN10-unsplash.jpeg);
background-size: cover;
background-position: center;
}

footer{
height: 100vh;
background-image: url(/Users/mrsokegbe/Desktop/CodersGuild/WendyCodes/wendy-codes-high-resolution-color-logo.png);
background-size: cover;
background-position: center;
}

.carousel-item{
margin-top: 20%;
}
.carousel-item h1{
color:#aa8af6;
}
.navbar navbar-expand-lg navbar-dark bg-dark text-center px-4 {
background-color: #FFFFFF;
}

.gradient {
width: 100vw;
height: 100vh;
background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
background-size: 180% 180%;
animation: gradient-animation 6s ease infinite;

}

.social-media-icons-black a {
color:black;
font-size: 2rem;
}






